*{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
div {
  background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
  border-radius: 2px;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  left:50%;
  height: 700px;
  text-align:center;
  max-width: 100%;
}

img {
position: absolute;
top: 50%;
left: 50%;
width: 500px;
height: 500px;
margin-top: -250px; /* Half the height */
margin-left: -250px; /* Half the width */
}

a{
   text-align: center;
}

h3, h2, h1{
  font-style: bold;
}
th {
    background-color: #32CD32;
    color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    background-color:#CCFF99;
    text-align: center;
    border-style: double
}

li, h4, h5, a{
  color: #227451; 
}

body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #C1FFC1;
}


@media (min-width: 992px) {
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
 }
}

