*{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
div {
  background-color: #87CEEB;
  position: static;
  border: 3px solid #D8BFD8;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h3, h2, h1{
  font-style: bold;
}
th {
    background-color: #228B22;
    color: #D3D3D3;
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}
td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background-color: #F0FFFF;
}

li, h4, h5, a{
  color: #74224C; 
}

body {
  position: relative;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #708090;
}


@media (min-width: 992px) {
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
 }
}

