--- 
---
<link type="text/css" rel="stylesheet" href="colorido.css"/>
<div> HORÁRIOS DO CAMPUS GUARABIRA </div>

<nav> 
<ul>
{% for curso in site.data.horarios.cursos %}
  <li>{{curso.nome}} </li>
    <ul>
  {% for turma in curso.turmas %}
    <li> <a href=#{{turma.nome | remove: " "}}>{{turma.nome}}</a></li>
  {% endfor %}
      </ul>
{% endfor %}
</ul>
</nav>


{% for curso in site.data.horarios.cursos %}
  <h1> {{curso.nome}}</h1>
  {% for turma in curso.turmas %}
    <h2> <a id={{turma.nome | remove: " "}>{{turma.nome}}  </a></h2>
       <table>
       <tr>
      {% for coluna in turma.colunas %}
            <th>{{coluna}}</th>   
      {% endfor %}
       </tr>
       
      {% for linha in turma.linhas %}
         <tr>
         <td>{{linha.horario}}</td>
         {% if {{linha.horario}} == "9:30" or {{linha.horario}} == "14:40" or {{linha.horario}} =="20:30" %}
           <td colspan="5">Intervalo</td>
         {% elsif {{linha.horario}} == "12:20" %}
           <td colspan="5">Almoço</td>
         {% elsif {{linha.horario}} == "17:30" %}
           <td colspan="5">Jantar</td>
         {% else %}
            {% for aula in linha.aulas %}
              <td>{{aula.disciplina}} <br/> {{aula.professor}}</td> 
            {% endfor %}
         {% endif %}
         </tr>
      {% endfor %}
       
       </table>
  {% endfor %}
{% endfor %}


