---
---

<link type="text/css" rel="stylesheet" href="stylesheet.css"/>

<ul id="nav"> 
    <li><a href="#">Home</a></li> 
    <li><a href="#">Sobre</a></li> 
    <li><a href="#">O que Fazemos?</a> 
      <ul> 
        <li><a href="#">Web Design</a></li> 
        <li><a href="#">Hospedagem</a></li> 
        <li><a href="#">SEO</a></li> 
        <li><a href="#">Sistemas</a></li> 
      </ul> 
    </li>

    <li><a href="#">Contato</a></li> 
  </ul>

{% for curso in site.data.horarios.cursos %}
  <h1> {{curso.nome}} </h1>
  {% for turma in curso.turmas %}
    <h2> {{turma.nome}} </h2>
       <table>
       <tr>
      {% for coluna in turma.colunas %}
            <th>{{coluna}}</th>   
      {% endfor %}
       </tr>
       
      {% for linha in turma.linhas %}
         <tr>
         <td>{{linha.horario}}</td>
        {% for aula in linha.aulas %}
          <td>{{aula.disciplina}} <br/> {{aula.professor}}</td> 
        {% endfor %}
         </tr>
      {% endfor %}
       
       </table>
  {% endfor %}
{% endfor %}
